<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Temporary Template</title>
</head>
<body>
    <h1>Game Viewer</h1>
    
    {# post the contents of the search bar #}
    <label for="search">Search for a game:</label>
    <form method = "POST">
        <input name="search" required maxlength="50">
        <input type="submit" value="Search">
        <a href="/"></a>
    </form>

    <h3>{{ list_heading }}</h3>

    {# display results of search in a list #}
    {% for game_title in search_results %}
        <li style="list-style-type:none">
            <a href="/game/{{ game_title }}">{{ game_title }}</a>
        </li>
    {% endfor %}
  
</body>
</html>
