<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ game_title }}</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="sakura.css") }}" type="text/css">
    <link rel="shortcut icon" href="{{ url_for("static", filename="favicon.ico") }}">
  </head>
  <body>
  
    <a href="/">Return Home</a>
  
    <div class="box" style="justify-content:space-between">
      <div><h1>{{ game_title }}</h1></div>
      <div style="align-self:center">
        <button type="button" onclick="alert('Bookmarking {{ game_title }}')">Bookmark {{ game_title }}</button>
      </div>
    </div>
    
    <div class="box">
      <div><img src="https://{{ image_url }}" alt="{{ game_title }} Poster"></div>
      <div>
        <ul style="list-style-type:none">
          <li>Detail about Game</li>
          <li>Another Detail</li>
          <li>Detail Number Three</li>
          <li>Yet Another Detail</li>
          <li>Details Galore</li>
        </ul>
      </div>
    </div>
  
  </body>
</html>
