<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ game_title }}</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="sakura.css") }}" type="text/css">
    <link rel="shortcut icon" href="{{ url_for("static", filename="favicon.ico") }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            var bookmarked = {{ bookmarked }};
            if (bookmarked){
                $('button').hide();
            }
        
            $('button').click(function(){
                var confirmed = confirm('Bookmark {{ game_title }}?');
                if (confirmed) {
                    $('small').html('Bookmarked {{ game_title }}!');
                    $('button').hide();
                }
            });
        });
    </script>
  </head>
  <body>
  
    <a href="/">Return Home</a>
  
    <div class="box" style="justify-content:space-between">
      <div><h1>{{ game_title }}</h1></div>
      <div style="align-self:center">
        <button type="button">Bookmark {{ game_title }}</button>
        <p><small></small></p>
      </div>
    </div>
    
    <div class="box">
      <div><img src="https://{{ image_url }}" alt="{{ game_title }} Poster"></div>
      <div>
        <ul style="list-style-type:none">
          <li>Detail about Game</li>
          <li>Another Detail</li>
          <li>Detail Number Three</li>
          <li>Yet Another Detail</li>
          <li>Details Galore</li>
        </ul>
      </div>
    </div>
  
  </body>
</html>
