<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Game Viewer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sakura.css') }}" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>
    <h1>Game Viewer</h1>
    
    <div class="box" style="justify-content:space-between">
      {# post the contents of the search bar #}
      <div><label for="search">Search for a game:</label>
      <form method = "POST">
        <input name="search" required maxlength="50" value="{{ search_term }}"></input>
        <input type="submit" value="Search"></input>
        <a href="/"></a>
      </form></div>
      
      <div><a href="/bookmarks">Bookmarked Games</a></div>
    </div>

    <h3>{{ list_heading }}</h3>

    {# display results of search in a list #}
    {% for game in search_results %}
        <li style="list-style-type:none">
            <a href="/game/{{ game.game_id }}">{{ game.game_title }}</a>
        </li>
    {% endfor %}
  
  </body>
</html>
